@charset "utf-8";

body{
	font-family: 'Kosugi Maru', sans-serif;
	
	margin-top: 0;
	font-family: "FOT-筑紫A丸ゴシック Std";
}


#nav {
  list-style: none;
  overflow: hidden;
  position: absolute;
  top:-25px;
  left:190px;
}
 
#nav li {
  width: 180px;
  text-align: center;
  float: left;
}
 
#nav li a {
  text-decoration: none;
  color: rgb(49, 166, 235);
  font-weight: bold;
  font-size: 18px;
}

	 
.main-visual{
	
	text-align: center;	
	position: relative;
		}



.main-visual img{
	width: 100%;
	height:570px;
		}

.container {
	position: absolute;
	top:270px;
	left: 900px;
	text-align: center;
	padding-top: 40px;
		  }

.container p{
padding-top: 20px;
font-size: 19px;
font-weight: bold;
color:white;
letter-spacing: 0.1em;
line-height: 15px;
}

.container img{
	width:35px;
	position: absolute;
	top:-83px;
	left:0px;

}

.container span{
	font-size: 28px;
	font-weight: bold;
	color:white;
	letter-spacing: 0.1em;
	line-height: 0.1px;
	padding-left:40px;
	}

.btn-border {
			display: inline-block;
			max-width: 250px;
			text-align: left;
			border: 4px solid #6abfea;
			font-size: 25px;
			color:rgb(49, 166, 235);
			background-color:white;
			text-decoration: none;
			font-weight: bold;
			padding: 10px 18px;
			border-radius: 10px;
			transition: .4s;
		  }
		  
		  .btn-border:hover {
			background-color: #ffff00;
			border-color: #ffff00;
			color: #FFF;
		  }
.menu{
	position: relative;
	top:11px;
	margin-top: 10px;
}

.menu-img{
	position: absolute;
	top:32px;
	left:295px;
}
.menu-img img{
width:48px;
margin-right: 135px;
}

.menu-img img:nth-child(2){
	width: 37px;
	height:47px;
	
}

.menu-img img:nth-child(3){
	width: 42px;
	
}


.menu-img img:first-child{
	width: 43px;
	
}


.pick-up{
	background-color:rgb(49, 166, 235);
	box-shadow: 0px 18px 57px 0px rgba(255, 255, 255, 0.65),inset 0px 8px 18px 0px rgba(1, 1, 1, 0.17);
	border-radius: 30px;
	height: 28px;
	width: 840px;
	font-size: 17px;
	font-family: "BIZ UDPGothic";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.238;
	text-align:center;
	padding-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
    text-align: center;
} 


.title-point{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: rgb(49, 166, 235);
	padding-right: 70px;
	margin-top:80px;
	margin-left:45px;
	
}
.points-text{
	width: 250px;
	height:155.8px;
	font-size: 17px;
	line-height: 1.3;
	color:#717070;
	display: inline-block;
	text-align: center;
	margin-right: 40px;
	margin-left: 38px;
	
}

#tt{
	font-size: 24px;
	color: rgb(61, 165, 234);
	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;
	  }


.points{
	text-align: center;
	margin-top: 40px;
}

.points img{
	margin-top:35px;
	width:190px;
	height:189px;
	margin-left: 65px;
	margin-right:65px;
}
.points-text-box{
	text-align: center;
	margin-top:5px;
	margin-left: 0px;
}


.under {
	background: linear-gradient(transparent 70%, #ffff00 70%);
	border-radius: 10%;
  }

.schedule{
	clear: both;
	text-align: center;
	color: rgb(61, 165, 234);
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 3px;
	margin-top: -25px;
}

.schedule img {
	margin-top:20px;
}
.doc-title{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: rgb(49, 166, 235);
	margin-top:110px;
	margin-bottom: -60px;
}



.coment{
	text-align: center;
}

.time{
	text-align: center;
	color:#717070;
	font-size: 17px;
	font-family: "BIZ UDPGothic";
	margin-top: 35px;
}
span#closing{
	font-family: "BIZ UDPGothic";
	color:white;
	font-size: 18px;
	background-color: rgb(49, 166, 235);
	padding:5px 10px;
	border-radius: 10px;
}

#time-g{
	font-size: 17px;
	color: rgb(49, 166, 235);
	font-weight: bold;
	text-align:center;
}


.message{
  width:920px;
  background-color: rgb(49, 166, 235);
  height:350px;
  text-align: center;
  margin: 100px auto;
  position: relative;
  border-radius: 20px;
}
.message img{
	position: absolute;
	left:650px;
	top:-23px;
}

.message p{
  padding:50px 60px;
   font-size:21px;
  line-height:1.6em;
  color:white;
  width:570px;
}

#sign{
  font-size:28px;
}

.stuff{
margin-top: 50px;
margin-left: 100px;
}

.stuff h3{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: rgb(49, 166, 235);
	padding-right: 70px;
}

.card-container {
	position: relative;
	width: 250px;
	border-radius: 10px;
	margin: 30px auto;
	box-shadow: 0px 5px 15px #ebebeb;
	background-clip: border-box;
	float: left;
	margin-left: 100px;

  }
  .upper {
	height: 200px;
	background-color: rgb(61, 165, 234);
	box-sizing: border-box;
	border-radius: 9px 9px 0 0;
	border-left: 2px solid rgba(0,0,0,0.1);
	border-top: 2px solid rgba(0,0,0,0.1);
	border-right: 2px solid rgba(0,0,0,0.1);
	text-align: center;
  }


  .upper img {
	margin-top: 35px;
  }
  .lower {
	height: 150px;
	border-radius: 0 0 9px 9px;
	box-sizing: border-box;
	background-color: #F7FCFA;
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
  }
  .category {
	margin: 0;
	padding-top: 15px;
	padding-left:15px;
	padding-right: 15px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: rgb(61, 165, 234);
  }
  .card-title {
	padding: 0 25px;
	font-size: 14px;
	line-height: 1.6;
  }


.news{
	margin-left: 180px;
	position: relative;/*相対配置*/
		}
	  
.news p{
		position: absolute;/*絶対配置*/
		top: 0;
		left: 40px;
		font-family: "BIZ UDPGothic";
		font-size: 16px;
		line-height: 24px;
	    color: rgb(61, 165, 234);
		}


 span.news-title{
	 line-height: 33px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(61, 165, 234);
	
 }

 .date{
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-left: 10px;
	margin-top: 45px;
 }

 .boxes{
	 display: inline-block;
	 margin-right: 80px;
	 margin-top: 40px;
 }


 .final-box{
	 display: inline-block;
	 margin-left: 150px;
	 margin-top: 50px;
	color: rgb(61, 165, 234);
	font-size: 26px;
	font-weight: bold;
	line-height: 1.4em;
	letter-spacing:2px;
 }

.small{
	font-size:19px;
	font-weight: lighter;
}

.final-box img{
	margin-left: -40px;
}

footer{
	width: 100%;
	height: 100px;
	background-color: rgb(61, 165, 234);
}




.home-icon {
    color:#fff; 
  text-align:center;
}
/* svgのアイコンからmouse outで白に戻るとき0.3ｓ遅れて塗りを#fffにする。
pathに対してfillのため「a:hover」のみでは動作しない*/
.home-icon path  {
    fill:#fff;
    -webkit-transition: fill 0.3s ease-out;
    -moz-transition: fill 0.3s ease-out;
    -o-transition: fill 0.3s ease-out;
    -ms-transition: fill 0.3s ease-out;
    transition: fill 0.3s ease-out;
}

/* svgのアイコンにhoverが当たったら 塗りを#2BBF82にする。*/
.home-icon a:hover path{
    fill:#2BBF82;
}
